<div class="container">

    <h1 class="text-info mt-4 mb-4 text-center">Bienvenue sur acheter mes fraises !!</h1>

        <div class="card mb-3">
            <div class="row g-0">
                <div class="col-md-4">
                    <img src="https://img-3.journaldesfemmes.fr/aF0WKkqyDYE2yKcFPY-7ymkXCU4=/1500x/smart/e2d84215f5c44c648c3ecdcbf0ac1ccc/ccmcms-jdf/10662418.jpg" class="img-fluid rounded-start" alt="...">
                </div>
                <div class="col-md-8">
                    <div class="card-body">
                    <h5 class="card-title">Notre recommandation du jour</h5>
                    <p class="card-text">
                        Ce fruit rouge est botaniquement parlant un faux-fruit ; il s'agit en réalité d'un réceptacle charnu sur lequel sont disposés régulièrement des akènes dans des alvéoles plus ou moins profondes. La fraise est donc un polyakène.
                        La fraise fait partie des 6 % environ de végétaux qui existent avec une forme mâle et une forme femelle (et il en existe aussi des formes à la fois mâle et femelle). Elle se présente sous trois formes : mâle, femelle et combinée2. Les fleurs femelles ne portent pas d'anthères2.
                        On a récemment montré que les gènes qui déterminent le sexe d'un plant de fraisier peuvent être positionnés en plusieurs endroits très différents du génome (lequel s'inscrit dans 56 chromosomes, organisés en 7 groupes de 8 chromosomes ; à titre de comparaison l'homme n'a « que » 46 chromosomes, organisés en 23 paires)2.
                        Les fraises du commerce sont des hybrides cultivés, assez éloignés des fraises sauvages, sélectionnés en fonction du goût, de la taille, de la facilité à être cultivés, cueillis, conservés et transportés, etc.
                    </p>
                    <p class="card-text"><small class="text-muted">3500€ le kilo</small></p>
                    </div>
                </div>
            </div>
        </div>

        <div class="card mb-3">
            <div class="row g-0">
                <div class="col-md-4">
                    <img src="https://img-3.journaldesfemmes.fr/aF0WKkqyDYE2yKcFPY-7ymkXCU4=/1500x/smart/e2d84215f5c44c648c3ecdcbf0ac1ccc/ccmcms-jdf/10662418.jpg" class="img-fluid rounded-start" alt="...">
                </div>
                <div class="col-md-8">
                    <div class="card-body">
                    <h5 class="card-title">Notre recommandation du jour</h5>
                    <p class="card-text">
                        Ce fruit rouge est botaniquement parlant un faux-fruit ; il s'agit en réalité d'un réceptacle charnu sur lequel sont disposés régulièrement des akènes dans des alvéoles plus ou moins profondes. La fraise est donc un polyakène.
                        La fraise fait partie des 6 % environ de végétaux qui existent avec une forme mâle et une forme femelle (et il en existe aussi des formes à la fois mâle et femelle). Elle se présente sous trois formes : mâle, femelle et combinée2. Les fleurs femelles ne portent pas d'anthères2.
                        On a récemment montré que les gènes qui déterminent le sexe d'un plant de fraisier peuvent être positionnés en plusieurs endroits très différents du génome (lequel s'inscrit dans 56 chromosomes, organisés en 7 groupes de 8 chromosomes ; à titre de comparaison l'homme n'a « que » 46 chromosomes, organisés en 23 paires)2.
                        Les fraises du commerce sont des hybrides cultivés, assez éloignés des fraises sauvages, sélectionnés en fonction du goût, de la taille, de la facilité à être cultivés, cueillis, conservés et transportés, etc.
                    </p>
                    <p class="card-text"><small class="text-muted">3500€ le kilo</small></p>
                    </div>
                </div>
            </div>
        </div>

        <div class="card mb-3">
            <div class="row g-0">
                <div class="col-md-4">
                    <img src="https://img-3.journaldesfemmes.fr/aF0WKkqyDYE2yKcFPY-7ymkXCU4=/1500x/smart/e2d84215f5c44c648c3ecdcbf0ac1ccc/ccmcms-jdf/10662418.jpg" class="img-fluid rounded-start" alt="...">
                </div>
                <div class="col-md-8">
                    <div class="card-body">
                    <h5 class="card-title">Notre recommandation du jour</h5>
                    <p class="card-text">
                        Ce fruit rouge est botaniquement parlant un faux-fruit ; il s'agit en réalité d'un réceptacle charnu sur lequel sont disposés régulièrement des akènes dans des alvéoles plus ou moins profondes. La fraise est donc un polyakène.
                        La fraise fait partie des 6 % environ de végétaux qui existent avec une forme mâle et une forme femelle (et il en existe aussi des formes à la fois mâle et femelle). Elle se présente sous trois formes : mâle, femelle et combinée2. Les fleurs femelles ne portent pas d'anthères2.
                        On a récemment montré que les gènes qui déterminent le sexe d'un plant de fraisier peuvent être positionnés en plusieurs endroits très différents du génome (lequel s'inscrit dans 56 chromosomes, organisés en 7 groupes de 8 chromosomes ; à titre de comparaison l'homme n'a « que » 46 chromosomes, organisés en 23 paires)2.
                        Les fraises du commerce sont des hybrides cultivés, assez éloignés des fraises sauvages, sélectionnés en fonction du goût, de la taille, de la facilité à être cultivés, cueillis, conservés et transportés, etc.
                    </p>
                    <p class="card-text"><small class="text-muted">3500€ le kilo</small></p>
                    </div>
                </div>
            </div>
        </div>

        <div class="card mb-3">
            <div class="row g-0">
                <div class="col-md-4">
                    <img src="https://img-3.journaldesfemmes.fr/aF0WKkqyDYE2yKcFPY-7ymkXCU4=/1500x/smart/e2d84215f5c44c648c3ecdcbf0ac1ccc/ccmcms-jdf/10662418.jpg" class="img-fluid rounded-start" alt="...">
                </div>
                <div class="col-md-8">
                    <div class="card-body">
                    <h5 class="card-title">Notre recommandation du jour</h5>
                    <p class="card-text">
                        Ce fruit rouge est botaniquement parlant un faux-fruit ; il s'agit en réalité d'un réceptacle charnu sur lequel sont disposés régulièrement des akènes dans des alvéoles plus ou moins profondes. La fraise est donc un polyakène.
                        La fraise fait partie des 6 % environ de végétaux qui existent avec une forme mâle et une forme femelle (et il en existe aussi des formes à la fois mâle et femelle). Elle se présente sous trois formes : mâle, femelle et combinée2. Les fleurs femelles ne portent pas d'anthères2.
                        On a récemment montré que les gènes qui déterminent le sexe d'un plant de fraisier peuvent être positionnés en plusieurs endroits très différents du génome (lequel s'inscrit dans 56 chromosomes, organisés en 7 groupes de 8 chromosomes ; à titre de comparaison l'homme n'a « que » 46 chromosomes, organisés en 23 paires)2.
                        Les fraises du commerce sont des hybrides cultivés, assez éloignés des fraises sauvages, sélectionnés en fonction du goût, de la taille, de la facilité à être cultivés, cueillis, conservés et transportés, etc.
                    </p>
                    <p class="card-text"><small class="text-muted">3500€ le kilo</small></p>
                    </div>
                </div>
            </div>
        </div>

</div>

